.bs-callout-warning {
    border-left-color: #aa6708;
}

.bs-callout {
    padding: 15px;
    border: 1px solid #bdbfc1;
    border-left-width: 5px;
    border-radius: 3px;
}

.bs-callout-warning > h4 {
     font-weight: bold;
 }

.bs-callout-warning > p {
    margin-bottom: 20px;
}

.message {
    position: fixed;
    bottom: 0;
    right: 0;
}

ul.img-right {
    margin-bottom: 0!important;
}
.home {
    width: 100%!important;
}

.no-padding {
    padding: 0!important;
}

section.cover {
    /*height: 100vh;*/
}

.h-lg {
    height: 100vh;
}

#nav-bar .logo {
    position: relative;
    top: -2px;
    max-height: 129%!important;
}

#nav-bar a {
    font-size: 14px!important;
}

.live-wrapper{
    /*background: rgba(75, 225, 195, 0.5);*/
    background: rgba(0, 0, 0, 1);
    width: 100%;
    display: block;
    position: fixed;
    bottom: 0;
    padding: 20px;
    border-top: 4px solid #01a9ac;
}

.dark .text-muted {
    color: #434343!important;
    font-weight: bold;
}

.live-text {
    padding: 5px;
    background: #3e292a;
    color: #E30033;
    font-size: 15px;
    padding-top: 10px;
    border-bottom: 1px solid #fff;
    display: inline!important;
    text-transform: uppercase;
    border: 1px solid;
    display: block;

}

.block {
    display: block!important;
}
.text-wrapper {
    text-align: center;
    color: #ffffff;
    font-weight: bold;
    /*font-size: 14px;*/
}

.live-img {
    border-radius: 10px 10px 0 0;
    width: 150px;
    /*margin-bottom: 20px;*/
}

.now {
    border: 1.5px solid #ce0531;
    border-bottom: none;
}

.text-wrapper span {
    /*display: block;*/
    font-size: 9px;
}

.live-description {
    position: relative;
    top: 0;
    background: rgba(21, 171, 174,0.2);
    color: white;
    font-size: 11px;
    padding: 5px;
}

.live {
    background: #e30033;
    border-radius: 10%;
    position: absolute;
    top: 88px;
    color: white;
    font-weight: bold;
    padding: 15px 12px 13px 12px;
    left: 35%;
}

.live-next {
    background: #01a9ac;
    border-radius: 10%;
    position: absolute;
    top: 88px;
    color: white;
    font-weight: bold;
    padding: 15px 12px 13px 12px;
    left: 40%;
}

.to {
    color: #fdfdfe;
}

.color-green-theme {
    color: #01a9ac!important;
}

.lef-border {
    border-left: 2px solid #1b1b1b;
}

.sub-live-text {
    margin-top: 5px;
}

.rounded-border {
    border-radius: 10px;
}

.bold {
    font-weight: bold!important;
}
.inline {
    display: inline!important;
}

.display_block {
    display: block!important;
}

.page_title {
    text-transform: capitalize;
}

.content_wrapper {
    margin-top: 51px;
    padding-bottom: 98px;
}

.green_bg{
    background-color: #5cb85c!important;
}

h1, .h1, h2, .h2, h3, .h3, h4, .h4 {
    font-weight: bold!important;
}

.line-up-heading {
    padding-bottom: 15px!important;
}

.timetable .item {
    padding: 30px 0!important;
}

.program {
    padding-top: 30px;
}

.no-padding{
    padding: 0!important;
}

.welcome {
    color: #5cb85c;
    text-transform: capitalize;
}

.contact_us i {
    font-size: 14px;
    color: #2e9557;
}

.contact_us{
    font-size: 16px;
}

.contact_details {
    font-size: 14px;
    /*padding-left: 15px;*/
    padding-top: 5px;
    padding-bottom: 15px;
}

.program_wrapper {
    margin-bottom: -12px!important;
    padding-left: 0!important;
}

.program_user {
    font-size: 10px!important;
    color: #ffffff!important;
}

.program_user * {
    color: #ffffff!important;
}


.prod-info-main {

    border: 1px solid #858c90;;
    margin-bottom: 20px;
    margin-top: 10px;
    background: #fff;
    padding: 6px;

}

.presenter-icon {
    font-size: 17px;
}

.presenter-icon-wrapper {
    border-radius: 50%!important;
    background: #01a9ac!important;
}

.presenter-name {
    font-size: 16px!important;
    color: #000000!important;

}

.name {
    text-transform: capitalize;
    margin-bottom: 10px!important;
    display: block!important;
}

.time {
    background: #e15757!important;
    color: #ffffff!important;
}

.time:hover {
    background: #e15757!important;
    color: #ffffff!important;
}

.page-content-title {
    margin-top: 25px;
    text-transform: capitalize;
}

.no-padding-left {
    padding-left: 0!important;
}

.recent_posts {
    padding-bottom: 5px;
    padding-top: 5px;
    border-bottom: 1px solid #f9f9f9;
    transition: all ease 0.5s;
}

.recent_posts:hover {
    background: #f6f6f6;
}

.img-left-post {
    border-radius: 5px;
}

.img-new-view {
    margin-right: 15px;
    margin-bottom: 10px;
    width: 300px;
}

.breadcrumb {
    font-size: 9px!important;
    font-weight: bold!important;
    border-bottom: 1px solid #d6d6e0;;
    padding-bottom: 3px!important;
    border-radius: 0!important;

}


.breadcrumb > li {
    /* With less: .text-overflow(); */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.breadcrumb > *:nth-child(n+1) {
    display:none;
}
.invisible{display:none;}
/* === For phones =================================== */
@media (max-width: 767px) {
    .breadcrumb  > *:nth-last-child(-n+2) {
        display:inline;
    }
    .breadcrumb  > * {
        max-width: 60px;
    }
}

/* === For tablets ================================== */
@media (min-width: 768px) and (max-width:991px) {
    .breadcrumb  > *:nth-last-child(-n+4) {
        display:inline;
    }
    .breadcrumb  > * {
        max-width: 100px;
    }
}

/* === For desktops ================================== */
@media (min-width: 992px) {
    .breadcrumb  > *:nth-last-child(-n+6) {
        display:inline;
    }
    .breadcrumb  > * {
        max-width: 170px;
    }
}



.prod-info-main .product-image {

    /*background-color: #EBF8FE;*/
    display: block;
    min-height: 238px;
    overflow: hidden;
    position: relative;
    /*border: 1px solid #CEEFFF;*/
    padding-top: 40px;

}



.prod-info-main .product-deatil {

    border-bottom: 1px solid #dfe5e9;
    padding-bottom: 17px;
    padding-left: 16px;
    padding-top: 16px;
    position: relative;
    background: #fff
}


.product-content .product-deatil h5 a {

    color: #2f383d;
    text-decoration: none;

}



.prod-info-main .product-deatil h5 a span {

    color: #9aa7af;

    display: block;

}



.prod-info-main .product-deatil span.tag1 {

    border-radius: 50%;

    color: #fff;

    font-size: 15px;

    height: 50px;

    padding: 13px 0;

    position: absolute;

    right: 10px;

    text-align: center;

    top: 10px;

    width: 50px

}



.prod-info-main .product-deatil span.sale {

    background-color: #21c2f8

}



.prod-info-main .product-deatil span.discount {

    background-color: #71e134

}



.prod-info-main .product-deatil span.hot {

    background-color: #fa9442

}



.prod-info-main .description {

    font-size: 12.5px;

    line-height: 20px;

    padding: 10px 14px 16px 19px;

    background: #fff

}



.prod-info-main .product-info {

    padding: 11px 19px 10px 20px

}



.prod-info-main .product-info a.add-to-cart {

    color: #2f383d;

    font-size: 13px;

    padding-left: 16px

}



.prod-info-main name.a {

    padding: 5px 10px;

    margin-left: 16px

}



.product-info.smart-form .btn {

    padding: 6px 12px;

    margin-left: 12px;

    margin-top: -10px

}



.load-more-btn {

    background-color: #21c2f8;

    border-bottom: 2px solid #037ca5;

    border-radius: 2px;

    border-top: 2px solid #0cf;

    margin-top: 20px;

    padding: 9px 0;

    width: 100%

}



.product-block .product-deatil p.price-container span,

.prod-info-main .product-deatil p.price-container span,

.shipping table tbody tr td p.price-container span,

.shopping-items table tbody tr td p.price-container span {

    color: #21c2f8;

    font-family: Lato, sans-serif;

    font-size: 24px;

    line-height: 20px

}



.product-info.smart-form .rating label {

    margin-top:15px;



}



.prod-wrap .product-image span.tag2 {

    position: absolute;

    top: 10px;

    right: 10px;

    width: 36px;

    height: 36px;

    border-radius: 50%;

    padding: 10px 0;

    color: #fff;

    font-size: 11px;

    text-align: center

}



.prod-wrap .product-image span.tag3 {

    position: absolute;

    top: 10px;

    right: 20px;

    width: 60px;

    height: 36px;

    border-radius: 50%;

    padding: 10px 0;

    color: #fff;

    font-size: 11px;

    text-align: center

}



.prod-wrap .product-image span.sale {

    background-color: #57889c;

}



.prod-wrap .product-image span.hot {

    background-color: #a90329;

}



.prod-wrap .product-image span.special {

    background-color: #3B6764;

}

.shop-btn {

    position: relative

}



.shop-btn>span {

    background: #a90329;

    display: inline-block;

    font-size: 10px;

    box-shadow: inset 1px 1px 0 rgba(0, 0, 0, .1), inset 0 -1px 0 rgba(0, 0, 0, .07);

    font-weight: 700;

    border-radius: 50%;

    padding: 2px 4px 3px!important;

    text-align: center;

    line-height: normal;

    width: 19px;

    top: -7px;

    left: -7px

}



.product-deatil hr {

    padding: 0 0 5px!important

}



.product-deatil .glyphicon {

    color: #3276b1

}



.product-deatil .product-image {

    border-right: 0px solid #fff !important

}



.product-deatil .name {

    margin-top: 0;

    margin-bottom: 0

}



.product-deatil .name small {

    display: block

}



.product-deatil .name a {

    margin-left: 0

}



.product-deatil .price-container {

    font-size: 24px;

    margin: 0;

    font-weight: 300;



}



.product-deatil .price-container small {

    font-size: 12px;



}



.product-deatil .fa-2x {

    font-size: 16px!important

}



.product-deatil .fa-2x>h5 {

    font-size: 12px;

    margin: 0

}



.product-deatil .fa-2x+a,

.product-deatil .fa-2x+a+a {

    font-size: 13px

}



.product-deatil .certified {

    margin-top: 10px

}



.product-deatil .certified ul {

    padding-left: 0

}



.product-deatil .certified ul li:not(first-child) {

    margin-left: -3px

}



.product-deatil .certified ul li {

    display: inline-block;

    background-color: #f9f9f9;

    padding: 13px 19px

}



.product-deatil .certified ul li:first-child {

    border-right: none

}



.product-deatil .certified ul li a {

    text-align: left;

    font-size: 12px;

    color: #6d7a83;

    line-height: 16px;

    text-decoration: none

}



.product-deatil .certified ul li a span {

    display: block;

    color: #21c2f8;

    font-size: 13px;

    font-weight: 700;

    text-align: center

}



.product-deatil .message-text {

    width: calc(100% - 70px)

}



@media only screen and (min-width:1024px) {

    .prod-info-main div[class*=col-md-4] {

        padding-right: 0

    }

    .prod-info-main div[class*=col-md-8] {

        padding: 0 13px 0 0

    }

    .prod-wrap div[class*=col-md-5] {

        padding-right: 0

    }

    .prod-wrap div[class*=col-md-7] {

        padding: 0 13px 0 0

    }

    .prod-info-main .product-image {

        border-right: 1px solid #dfe5e9

    }

    .prod-info-main .product-info {

        position: relative

    }

}

